// 1. Generics
// ==========================================================================
$primary-color: #3a3a3a;
$secondary-color: #fbbb47;
$dark-grey: #1e1e1e;
$other-grey: #414142;
$orange: #ffa726;
$body-bg: $primary-color;

$sideTitleBorder: 80px;

// 12. Footer
// ==========================================================================
// $footer-bg-color: $primary-color-dark;


// 3. Navigation Bar
// ==========================================================================
$nav-bg: $secondary-color;
$navbar-font-color: $dark-grey !important;

$navbar-height: 7rem !important;
$navbar-height-mobile: 56px !default;
$navbar-font-size: 1rem !default;
$navbar-brand-font-size: 2.1rem !default;

