<!DOCTYPE html>
 <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/css/style.css" />

      <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!-- <meta name="google-site-verification" content="gKlm2Kvvu0KyRGloMxl6u-PwxHYbylHFpPTB7XUuNi4" /> -->

      <title>{{ if and (.IsPage) (.Title) }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    </head>

    <body>