{{ partial "head.html" . }}

<main class="grey darken-4">
  <div class="valign-wrapper full-page">
    <div class="container">
      <div class="row" id="oops">
        <div class="col s12">
          <h1 class="light grey-text text-darken-1 large-text">OOPS...<span class="hide-on-small-only">404</span></h1>
        <div class="col s12">
          <h5 class="light grey-text text-lighten-1 center-align">Looks like we've wandered off track, lets try again.</h5>
          <a class="waves-effect waves-light btn orange lighten-2 grey-text text-darken-3" href="/">Home</a>
        </div>
      </div>
    </div>
  </div>
</main>
